/*
!.spacemacs

!.config
.config/*
!.config/nvim
.config/nvim/*
!.config/nvim/coc-settings.json

!.config/lvim
.config/lvim/*
!.config/lvim/config.lua
!.config/lvim/lua
!.config/lvim/lua/user

!.config/nvim/lua
.config/nvim/lua/*
!.config/nvim/lua/custom

!.config/coc
.config/coc/*
!.config/coc/ultisnips

!.ripgreprc

!.p10k.zsh
!.zshrc.custom
!.zshrc.functions
!.zshrc
!.zprofile
!.aliases

!fresh_install_of_osx.sh
!osx_defaults.sh

!.gitignore
!.gitignore.global
!.gitconfig
!.gitconfig-oss.inc
!Brewfile
!.tool-versions
!.leptonrc
!.tmux.conf
!.gnupg
.gnupg/*
!.gnupg/gpg-agent.conf

!nix-darwin-config

**/*.aif
**/*.aif.asd
*.aif
*.aif.asd